@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #283618;
  --secondary: #fefae0;
  --third: #606c38;
  --fourth: #dda15e;
}

.text-outline {
  color: var(--fourth);
  text-shadow:
   -3px -3px 0 var(--secondary),  
    1px -1px 0 var(--secondary),
    -1px 1px 0 var(--secondary),
     1px 1px 0 var(--secondary);
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}
